body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  -moz-background-size: cover;
  -o-background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-text-and-logo {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: x-large;
  z-index: 100;
  text-align: center;
}

img.flexify-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  padding-top: -1em;
  width: 300px;
  height: auto;
}

img.flexify-logo-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  margin-bottom: -50px;
  width: 250px;
  height: auto;
}

img.down-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100px;
  height: auto;
}

.exercise-options {
  display: flex;
  justify-content: center;
}

.exercise-images {
  width: 280px;
  height: 200px;
}

.button:hover {
  cursor: pointer;
}

.button {
  width: 280px;
  height: 200px;
}

.login-page-images {
  display: flex;
  justify-content: center;
}

.playlist-options {
  display: flex;
  justify-content: space-evenly;
}

.playlist-images {
  width: 280px;
  height: 200px;
}

.playlist-selector {
  align-items: center;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: lightseagreen;
  font-size: 24px;
  align-items: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
